---
replicaCount: 4
image:
  repository: "gcr.io/google-samples/hello-app"
  tag: "1.0"
service:
  port: 8080
ingress:
  enabled: true
  className: nginx
  defaultBackend:
    enabled: false
#    service:
#      name: defaultbackend
#      port: 80
  hosts:
    - host: hello-app.caju.local
      paths:
        #- path: /auth/admin/
          #pathType: Prefix
          #backend:
            #service:
              #name: defaultbackend
              #port:
                #number: 80
        - path: /
          pathType: Prefix
          backend:
            service:
              name: hello
              port:
                number: 8080
